<div class="container ">
    <div class="settings">
        <table class="t-width">
            <tr>
                <td>Normal days for quarantine</td>
                <td><input type="text" class="form-control text input-width" /></td>
            </tr>
            <tr>
                <td>Time duration to send GPS signals</td>
                <td><input type="text" class="form-control text input-width" /></td>
            </tr>
            <tr>
                <td>Time duration to send selfie</td>
                <td><input type="text" class="form-control text input-width" /></td>
            </tr>
            <tr>
                <td></td>
                <td><button class="btn btn-primary text-right btn-save">save</button></td>
            </tr>
        </table>
    </div>
</div>
