<div class="container">   
    <table class="table t-border">
        <thead>
        <tr>
            <th>ID</th>
            <th>State</th>
            <th>Add</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Goa</td>
            <td><span>Edit</span><span>Delete</span></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Maharastra</td>
            <td><span>Edit</span><span>Delete</span></td>
        </tr>
        </tbody>
    </table>
</div>